* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}
header nav {
  background-color: #212121;
  height: 53px;
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 50px;
}

.hamburger {
  display: none;
}

.menu_header {
  display: flex;
  justify-content: space-between;
  padding: 15px 71px;
  margin: 0;
  list-style-type: none;
}
.menu_header .menu_links {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu_header .menu_item {
  border-right: 2px dotted black;
  padding-right: 40px;
}
.menu_header .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_official {
  font-weight: 100;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 3px;
}
.subheader .subheader_call {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}
.subheader .subheader_phone {
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-align: right;
}

.subheader .subheader_btn, .promo .promo_btn {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  margin-top: 18px;
}
.subheader .subheader_btn:hover, .promo .promo_btn:hover {
  background: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url(../image/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 130px 0;
}
.promo .promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}
.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 23px;
  margin-bottom: 0;
}
.promo .promo_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 18px;
}
.promo .promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 115px;
}

.causes {
  min-height: 850px;
  padding: 18px 0 64px 0;
}
.causes .row {
  align-items: center;
}
.causes .causes_item {
  margin-top: 25px;
  align-items: center;
}
.causes .causes_item .causes_icon {
  width: 116px;
  height: 116px;
  background-color: #1EACC7;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin: auto 0;
}
.causes .causes_item .causes_icon img {
  display: block;
  margin: 0 auto;
}
.causes .causes_item .causes_dcrp {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  margin-left: 15px;
  min-height: 150px;
}
.causes .causes_item .causes_dcrp span {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
  margin-bottom: 5px;
}

.label {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0.5rem 0;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin: 32px 0 0 0;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #222222;
}

.mobile {
  min-height: 856px;
  padding: 46px 0 80px;
  background: url(../image/mobile_bg.png) center center/cover no-repeat;
}
.mobile .row {
  margin-top: 30px;
  justify-content: space-between;
}
.mobile .row .mobile_item {
  margin: 0 30px 20px;
  width: 320px;
  height: 280px;
  padding: 82px 11px 34px;
  position: relative;
}
.mobile .row .mobile_promo {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.mobile .row .mobile_btn {
  display: block;
  position: absolute;
  bottom: 34px;
  left: 145px;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background: #000000;
}
.mobile .row .mobile_btn:after {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}
.mobile .row .mobile_btn:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translateY(5%);
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  transition: 0.3s all;
}
.mobile .row .mobile_btn:hover:after, .mobile .row .mobile_btn:hover:before {
  background-color: #FF5656;
}

.choise {
  min-height: 900px;
  background: url(../image/blue_bg.png) top center/cover no-repeat;
  background-size: auto 500px;
  padding: 54px 0 137px 0;
}
.choise .label {
  background-color: #fff;
  color: black;
}
.choise .title, .choise .subtitle {
  color: #fff;
}
.choise_img {
  display: block;
  margin: 54px auto 0;
}
.choise_dcrp {
  width: 327px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  margin: 0 auto;
}

.require {
  padding: 66px 0 87px 0;
}
.require .row {
  margin: 33px 0 61px 0px;
}
.require_header {
  font-weight: 400;
  font-style: 22px;
  line-height: 24px;
  color: #1EACC7;
}
.require_list {
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
  color: #222222;
  list-style: none;
  margin: 20px 0;
}
.require_list li {
  position: relative;
}
.require_list li:before {
  left: -33px;
  top: 5px;
  content: "";
  position: absolute;
  height: 21px;
  width: 22px;
  margin-right: 10px;
  background: url(../icons/check_blue.png) center center/cover no-repeat;
}
.require_dscp {
  color: #1EACC7;
}
.require .warning .require_header {
  color: #FF5656;
  margin-top: 61px;
}
.require .warning li:before {
  background: url(../icons/check_red.png) center center/cover no-repeat;
}

.world {
  min-height: 716px;
  padding: 46px 0 21px 0;
  background: url(../image/world_bg.png) center center/cover no-repeat;
}
.world .label {
  background-color: #fff;
  color: #000;
}
.world .title, .world .subtitle {
  color: #fff;
}
.world_see_all {
  display: block;
  width: 223px;
  height: 68px;
  margin: 456px auto 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}

.source {
  min-height: 155px;
  display: flex;
  justify-content: center;
  padding: 11px 23px;
}
.source_icons {
  width: 260px;
  display: flex;
  justify-content: flex-end;
}
.source_icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}
.source_menu {
  display: inline-block;
  width: 400px;
  text-align: center;
  justify-content: space-between;
}
.source_menu a {
  text-decoration: none;
}
.source_menu_header {
  display: flex;
  justify-content: space-between;
}
.source_menu_header a {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}
.source_menu_subheader {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}
.source_menu_subheader a {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
.source_menu_lang {
  margin-top: 36px;
}
.source_menu_lang a {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1EACC7;
}
.source_app {
  display: flex;
  width: 290px;
}
.source_app a {
  display: inline-block;
}

.xs-hidden {
  text-align: end;
}

.xs-visible {
  display: none;
}

.xs-hidden-icon {
  display: flex;
}

.xs-visible-icon {
  display: none;
}

@media (max-width: 1200px) {
  .menu_header .menu_item {
    padding-right: 15px;
  }
  .menu_header .menu_item .menu_links {
    font-size: 15px;
  }

  .promo .promo_header {
    font-size: 50px;
  }
}
@media (max-width: 1199px) {
  .mobile .row {
    justify-content: space-evenly;
  }

  .causes .causes_item .row {
    align-items: flex-start;
    justify-content: center;
  }
  .causes .causes_item .causes_icon {
    margin: 0;
  }

  .source_app {
    display: block;
    text-align: end;
  }
  .source_app a {
    display: block;
  }
}
@media (max-width: 991px) {
  .menu_header .menu_item {
    padding-right: 8px;
  }
  .menu_header .menu_item .menu_links {
    font-size: 11px;
  }

  .subheader .subheader_logo img {
    width: 100%;
  }
  .subheader .subheader_official {
    font-size: 11px;
  }
  .subheader .subheader_phone {
    font-size: 21px;
  }
  .subheader .subheader_btn {
    margin-top: 23px;
    width: 100%;
    height: 40px;
  }

  .promo .promo_header {
    font-size: 40px;
  }

  .causes .causes_item .row {
    align-items: flex-start;
    justify-content: center;
  }
  .causes .causes_item .causes_icon {
    margin: 0;
  }

  .mobile .row .mobile_item {
    margin: 0 20px 20px;
  }

  .choise_img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .menu_header {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.8s all;
  }
  .menu_header_active {
    left: 0;
  }
  .menu_header .menu_item {
    border: none;
    padding: 0;
    margin-top: 25px;
  }
  .menu_header .menu_item .menu_links {
    font-size: 16px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 18px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(8px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader .subheader_phone {
    margin-top: 10px;
    text-align: center;
  }
  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 5px auto 0;
  }

  .promo .promo_header {
    font-size: 37px;
  }
  .promo .promo_subheader {
    font-size: 25px;
  }

  .causes .causes_item .causes_dcrp {
    margin-top: 23px;
    min-height: 130px;
  }

  .choise {
    min-height: 830px;
  }
}
@media (max-width: 575px) {
  header {
    height: 35px;
  }
  header nav {
    height: 35px;
  }

  .menu_header {
    width: 86%;
  }
  .menu_header .menu_item {
    width: 100%;
    text-align: center;
  }
  .menu_header .menu_item .menu_links {
    padding: 5px 0;
    display: block;
  }

  .subheader {
    height: 62px;
    top: 35px;
  }
  .subheader .subheader_logo {
    margin-top: 18px;
  }
  .subheader .subheader_phone {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
  }
  .subheader .subheader_btn {
    display: block;
    width: 110px;
    height: 27px;
    margin: 0 auto;
    font-size: 10px;
  }
  .subheader .subheader_btn:hover {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  }

  .promo {
    min-height: 440px;
    padding: 102px 0 34px 0;
  }
  .promo .promo_text {
    display: none;
  }
  .promo .promo_header {
    font-size: 30px;
    line-height: 35px;
    padding: 0 27px;
  }
  .promo .promo_subheader {
    font-size: 20px;
    line-height: 23px;
  }
  .promo .promo_btn {
    height: 50px;
    width: 210px;
    font-size: 16px;
    margin-top: 70px;
  }
  .promo .promo_btn:hover {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  }

  .title {
    font-size: 16px;
    margin-top: 14px;
  }

  .subtitle {
    font-size: 16px;
  }

  .causes {
    padding: 18px 0 0;
  }
  .causes .causes_item {
    text-align: center;
  }
  .causes .causes_item .causes_dcrp {
    margin: 23px 0;
    min-height: 130px;
  }

  .mobile {
    padding: 25px 12px 43px;
  }
  .mobile .row .mobile_item {
    padding: 80px 34px 21px;
  }
  .mobile .row .mobile_item .mobile_promo {
    font-size: 18px;
    line-height: 31px;
  }
  .mobile .row .mobile_btn {
    left: 50%;
    transform: translateX(-50%);
  }
  .mobile .row .mobile_btn:before {
    left: 47%;
    top: 50%;
    transform: translateY(-50%);
  }

  .choise {
    min-height: 393px;
    padding: 31px 0 24px 0;
  }
  .choise_dcrp {
    width: 279px;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .require {
    padding: 22px 0 30px 0;
  }
  .require .row {
    margin: 0;
  }
  .require_header {
    margin-top: 30px;
    font-size: 16px;
  }
  .require_list {
    font-size: 14px;
    line-height: 16px;
  }
  .require_list li {
    margin-top: 8px;
  }
  .require_list li:before {
    margin-right: 3px;
    top: 0;
  }
  .require_dscp {
    font-size: 14px;
  }
  .require .warning .require_header {
    margin-top: 30px;
  }

  .source {
    display: block;
    padding: 10px 8px;
  }
  .source .xs-hidden-icon {
    display: none;
  }
  .source .xs-visible-icon {
    display: flex;
  }
  .source_icons {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    margin-top: 10px;
  }
  .source_icons_i {
    width: 35px;
    height: 35px;
  }
  .source_menu {
    width: 100%;
    display: flex;
  }
  .source_menu_header {
    font-size: 16px;
    justify-content: space-evenly;
  }
  .source_menu_subheader {
    display: block;
    font-size: 11px;
  }
  .source_menu_subheader a {
    margin-right: 4px;
  }
  .source_menu_lang {
    margin-top: 10px;
  }
  .source_app {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
